body {
    background-color: #ccc;
}
/* Containers */
.header-container {
    position: fixed;
    width: calc(100% - 258px);
    right: 0;
}

.aside-container {
    width: 258px;
    height: 100vh;
    background-color: #233044;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-container {
    background-color: #f3f3f3;
    min-height: 100vh;
    padding: 8px;
    padding-top: 60px;
    width: calc(100% - 258px);
    float: right;
    clear: both;
}

/* Header */

header {
    background-color: white;
}

.header-content {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 8px 0;
}

.header-content > div {
    margin: 0 10px;
}

.header-content > .loggout,
.header-content > .user {
    padding: 8px;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    text-align: center;
}

.header-content > .user {
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.header-content > .loggout > i {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.3);
}

.header-content > .loggout:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Aside */


.aside-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.aside-title > a {
    color: white;
    font-size: 26px;
    cursor: pointer;
}



.aside-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: auto;
}

.aside-content::-webkit-scrollbar{
    width: 10px;
}

.aside-content::-webkit-scrollbar-thumb{
    background-color: #757d89;
    border-radius: 5px;
}

.aside-group-title {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    align-items: center;
    padding: 8px 32px;
    cursor: pointer;
}

.aside-group-title:hover,
.aside-group-list a:hover {
    background-color: #1e2a38;
    transition: 0.4s;
}

.aside-group-title i {
    width: 20px;
    margin-right: 10px;
    color: #757d89;
    text-align: center;
    transition: .2s;
}

.active{
    transform: rotate(180deg);
}

.aside-group-title p {
    font-size: 13px;
    color: #f9f9f9;
    font-weight: bold;
}

.aside-group-list {
    display: flex;
    flex-direction: column;
}

.aside-group-list a {
    padding: 8px 32px;
    font-size: 15px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    
}

.aside-footer {
    background-color: #1e2a38;
    height: 100px;
    width: 100%;
}


/* Home */

.main-container h1{
    background-color: white
}
