*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

textarea:focus, input:focus, button:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 