body {
    background-color: #ccc;
}
/* CHAT */
.chat {
    position: fixed;
    bottom: 0;
    max-height: 495px;
    right: 2%;
    z-index: 999;
}
.content {
    display: none;
}
.chat-container {
    width: 400px;
    height: 100%;
}

.chat-title {
    padding: 8px;
    text-align: center;
    background-color: rgb(51, 51, 51);
    color: white;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}

.chat-container-message {
    background-color: white;
    width: 100%;
    overflow-y: auto;
    padding: 8px;
    height: 400px;
}

.msg {
    margin: 2px 0;
}

.msg p {
    max-width: 300px;
    word-wrap: break-word;
}

.chat-container-message::-webkit-scrollbar {
    width: 10px;
}

.chat-container-message::-webkit-scrollbar-thumb {
    background-color: #757d89;
}
.chat-input {
    width: 100%;
    display: grid;
    grid-template-columns: 9fr 1fr;
    padding: 8px 16px;
    background-color: white;
}
.chat-input textarea {
    font-size: 16px;
    resize: none;
    border: none;
    padding: 8px;
    width: 100%;
    background-color: #ccc;
    border-radius: 10px 0 0 10px;
    max-height: 111px;
}
.chat-input button {
    border: none;
    font-size: 12px;
    width: 100%;
    background-color: #ccc;
    border-radius: 0 10px 10px 0;
}
.noOverflow {
    overflow: hidden;
}
.overflow {
    overflow: auto;
}
.send {
    float: left;
    clear: both;
    background-color: aqua;
    padding: 8px;
    border-radius: 5px;
}

.received {
    float: right;
    clear: both;
    background-color: greenyellow;
    padding: 8px;
    border-radius: 5px;
}

/* HOME */

.center {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2%;
}
.center-1080{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 2%;
}
nav {
    width: 100%;
    background-color: #000;
}
.logo img {
    width: 150px;
}
main{
    min-height: calc(100vh - 106px);
}
.main-banner {
    height: calc(40vh - 72.94px);

    background-color: #757d89;
    text-align: center;
    position: relative;
}

.main-banner p {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.main-banner p span {
    color: white;
    font-size: 35px;
}

.icons {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icons i {
    font-size: 26px;
    color: rgba(255, 255, 255, 0.5);
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    padding: 8px;
}

.footer-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 20px 0;
}

.footer-btn a,
.footer-btn p {
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    width: 50%;

}
.footer-btn a{
    border-left: 1px solid rgba(255, 255, 255, 0.2)
}

footer p{
    color: white;
    font-size: 13px;
    cursor: default;
    text-align: center;
}

footer a{
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-align: center;
}
.vl{
    height: 50px;
    width: 5px;
    text-align: center;
}

@media screen and (max-width: 1080px){
    .chat{
        display: none;
    }
}
